body{
  background-color:#C99B4F;
}

<<<<<<< HEAD

=======
.container {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
>>>>>>> 9b475ceda9d3de4798e42e7723f596c8a842ec32
}


.footer{
display: flex;
flex-direction: row;
}
