*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.slidetext{
  z-index: 10000;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 20%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6)
}

.slider{
  overflow: hidden;
  height: 400px;
}

.slider figure div{
  width: 20%;
  float: left;
}

.slider figure img{
  width: 100%;
  float: left;
}

.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slidy infinite;
}

@keyframes slidy {
  0%{
    left: 0%;
  }

  10%{
    left: 0%;
  }

  12%{
    left: -100%;
  }

  22%{
    left: -100%;
  }

  24%{
    left: -200%;
  }

  34%{
    left: -200%
  }

  36%{
    left: -300%;
  }

  46%{
    left: -300%;
  }

  48%{
    left: -400%;
  }

  58%{
    left: -400%;
  }

  60%{
    left: -300%;
  }

  70%{
    left: -300%;
  }

  72%{
    left: -200%;
  }

  82%{
    left: -200%;
  }

  84%{
    left: -100%;
  }

  94%{
    left: -100%;
  }

  96%{
    left: 0%;
  }
}

body{
  background-color:#C99B4F;
}

header {
  background-color: black;
  padding: 2% .5%;
}

/* HEADERS */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

h6{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
}

/* END HEADERS */

.container {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}

a:link {
  text-decoration: none;
}

.container a:link {
  color: #C99B4F;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
}

.container a:visited {
  color: gray;
}
/* FOR IMAGE SLIDER REAL
.imageslider {
  display: flex;
  flex-direction: row;
} */

.quickinfo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}


.footer{
  display: flex;
  padding: 2% 5%;
  background-color:black;
  justify-content: flex-start;
  align-items: center;
}

.footerimg{
flex: 1;
width: 25%;
}

.contactinfo{
  font-family: "Roboto", sans-serif;
  color: #C99B4F;
  font-size: 13px;
  font-weight: 300;
  flex: 5;
  width: 75%;
  margin-left: 18px;

}
.contactinfo a:link, a:visited{
  color: #C99B4F;


}
.contactinfo a:hover, a:active{
  color: #21263B;
}

.url a:link, a:visited{
  color: #C99B4F;
}
.events1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventstext{
  flex: 2;
  padding: 0 10px;
}

.eventstext a:visited{
  color: black;
}

.eventstext a:link{
  color: black;
}

.eventshead{
  text-align: center;
}

.historytitle{
  text-align: center;
}
/* HISTORY PAGE TILES CSS */

.cards{
margin: 0 10px;
padding: 0;
list-style: none;
justify-content: center;
display: grid;
grid-gap:10px;
gap:10px;
grid-template-areas:
"a b"
"c d"
"e f"
"g h"
"i j"
"k l";
}

.cards li{
padding: 5px;
border-radius: 5px;
max-width: 400px;
}

.cards img{
  width: 100%;
}

.cardtext{
  max-width:200px;
  text-align:center;
  justify-content:center;
}

.card1{
  grid-area: a;
}

.card2{
  grid-area: b;
}
.card3{
  grid-area: c;
}
.card4{
  grid-area: d;
}
.card5{
  grid-area: e;
}
.card6{
  grid-area: f;
}
.card7{
  grid-area: g;
}
.card8{
  grid-area: h;
}
.card9{
  grid-area: i;
}
.card10{
  grid-area: j;
}
.card11{
  grid-area: k;
}
.card12{
  grid-area: l;
}

@media screen and (min-width:550px){
  .cards{
    display:grid;
    grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k l";
  }
}

/* END OF HISTORY PAGE TILES */

/*
header {
  display: flex;
  flex-flow:row;
  background-color: black;
  justify-content: flex-start;
  align-items: center;
height: px;
width: 100%
z-index: 10;
}

.footer{
display: flex;
flex-direction: row;
justify-content: right;
}

.hamburger{
  width: 50%;
}


.container{
  background-color: black;
  height: 450px;
  width: 250px;
  align-items: center;
}

.page-1 a:link{
  color: #C99B4F;
  font-size: 25px;
  font-family: "Roboto";
}

.page-2 a:link{
  color: #C99B4F;
  font-size: 25px;
}

.page-3 a:link{
  color: #C99B4F;
  font-size: 25px;
}

.page-4 a:link{
  color: #C99B4F;
  font-size: 25px;
}

.hamburger{
  align-self: center;
}

.logo{
}

a:link{
  text-decoration: none;
}

a:visited{
  color: gray;
}

.page a:link{
  font-size: 25px;
  font-family: "Roboto";
  color: #C99B4F;
}
*/
