/*NAV BAR*/

nav ul li{
  display:block;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 32px;
  font-weight: 200;
  margin-bottom: 20px;
}

header nav a{
  color: #C99B4F;
  text-decoration: none;

}

nav ul{
  display:none;
  margin: 20px 0px;
}
@media screen and (max-width:950px){
  .desktop{
    display:none;
  }
}
@media screen and (min-width:950px){
  nav ul{
    display:grid;
    grid-template-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 30px;
    grid-template-areas:
    "a . b . c . d ."
  }
  .events{
    grid-area: a;
  }
  .features{
    grid-area: b;
  }
  .maps{
    grid-area:c;
  }
  .history{
    grid-area:d;
    }

  nav ul li{
    font-size: 28px;
    margin-bottom: 0;
  }
  .menu-trigger{
    display:none;
  }
  .mobile{
    display:none;
  }
}

.menu-trigger{
  font-size: 50px;

}

header {
  background-color: black;
  padding: 2% 2%;
  display:grid;
  grid-template-columns: 10px 70px 1fr 250px 10px;
  grid-template-areas:
  ". a . c ."
}

.logo{
  margin-top: 12px;
  grid-area: c;
}
nav{
  grid-area: a;
}
nav a:link {
  text-decoration: none;
}

/*MEDIA QUERIES FOR slider*/

@media(max-width:430px){
.description{
  display: none;
}
}

@media(min-width:430px){
.readmore{
  display: none;
  font-size: 20px;
}
}
/*
@media(min-width:950px){
  .mobile{
    display:none;
  }
}
@media(max-width:950px){
  .desktop{
    display:none;
  }
}
*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.slidetext{
  /*z-index: 10000;*/
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  width: 20%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6)
}

.slider{
  overflow: hidden;
  height: 50%;
}

.slider figure div{
  width: 20%;
  float: left;
}

.slider figure img{
  width: 100%;
  float: left;
}

.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 30s slidy infinite;
}

@keyframes slidy {
  0%{
    left: 0%;
  }

  10%{
    left: 0%;
  }

  12%{
    left: -100%;
  }

  22%{
    left: -100%;
  }

  24%{
    left: -200%;
  }

  34%{
    left: -200%
  }

  36%{
    left: -300%;
  }

  46%{
    left: -300%;
  }

  48%{
    left: -400%;
  }

  58%{
    left: -400%;
  }

  60%{
    left: -300%;
  }

  70%{
    left: -300%;
  }

  72%{
    left: -200%;
  }

  82%{
    left: -200%;
  }

  84%{
    left: -100%;
  }

  94%{
    left: -100%;
  }

  96%{
    left: 0%;
  }
}

body{
  background-color:#C99B4F;
}

/*PARAGRAPH TEXT*/
P {
  color: #000000;
  font-family: "Roboto", sans-sans-serif;
  font-weight: 300;
  font-size: 15px;
}


/* HEADING TEXT */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

h6{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  margin-top: 15px;
}



/* END HEADERS */

/*.{
  grid-area: c;
  display:none;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 50px;
}*/



.quickinfo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

/*FOOTER*/
.footer{
  align-items: center;
  display: grid;
  padding: 15px 0px;
  background-color: black;
  grid-template-columns: 1fr 100px 200px 1fr;
  grid-template-areas:
  "a b c d"
}

.footertext{
  color: #C99B4F;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.footerimg{
/*  margin-top: 20px;
  margin-bottom: 20px;*/
  vertical-align: center;
  grid-area: b;
}
.footerinfo{
  grid-area: c;
  padding-left: 10px;
  padding-bottom:8px;
  vertical-align: center;
}
.footerinfo a:link{
  color: #C99B4F;
}
.footerinfo a:visited{
  color: #C99B4F;
}
.footerinfo a:hover{
  color: #49391D;
}
/*END FOOTER*/
/*MAPS*/


.mapstitle{
text-align: center;
padding:15px 0px;

}
/*

@media (min-width:250px){
  .mapcards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
    grid-template-areas:
    "a a"
    "b c"
    "d d"
}
}
*/
.mapcards{
  display: block;
}


@media (min-width:480px){
  .mapcards{
    display: grid;
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-gap:20px;
    grid-template-areas:
    ". a a ."
    ". b c ."
  }
}
@media (max-width:480px){
  .mapcards{
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    grid-template-areas:
    ". a ."
    ". b ."
    ". c ."
  }
}

.mapcard2 {
  grid-area:b;
}

.mapcard3{
  grid-area:c;
}
.maptext{
  grid-area:a;
  padding: 0px 5px 15px 10px;
}

/* END MAPS*/

.eventstext a:visited{
  color: black;
}

.eventstext a:link{
  color: black;
}

.eventshead{
  text-align: center;
}



.historytitle{
  text-align: center;
  margin-top: 15px;
}
/* HISTORY PAGE TILES CSS */

.cards{
margin: 0 10px;
padding: 0;
list-style: none;
justify-content: center;
display: grid;
grid-gap:10px;
gap:10px;
grid-template-areas:
"m"
"a"
"b"
"c"
"d"
"e"
"f"
"g"
"h"
"i"
"j"
"k"
"l";
}

.cards li{
padding: 5px;
border-radius: 5px;
}


.cardtext{
  grid-area:m;
  margin: 15px 10px;
}

.card1{
  grid-area: a;
}

.card2{
  grid-area: b;
}
.card3{
  grid-area: c;
}
.card4{
  grid-area: d;
}
.card5{
  grid-area: e;
}
.card6{
  grid-area: f;
}
.card7{
  grid-area: g;
}
.card8{
  grid-area: h;
}
.card9{
  grid-area: i;
}
.card10{
  grid-area: j;
}
.card11{
  grid-area: k;
}
.card12{
  grid-area: l;
}


@media screen and (min-width:550px){
  .cards{
    display:grid;
    grid-template-areas:
    "m m m"
    "a b c"
    "d e f"
    "g h i"
    "j k l";
  }
}

/* END OF HISTORY PAGE TILES */

/* EVENTS CSS */

.eventsgrid{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-areas:
  ". a ."
  ". b .";
  grid-gap: 20px;
  list-style: none;
  text-decoration: none;
}

.eventsimage{
grid-area: a;

}
@media screen and (min-width:1000px){
  .eventsimage img{
    max-height: 600px;
    object-fit:cover;
  }
}
@media screen and (max-width: 1000px){
.eventsimage img{
  max-height:400px;
  object-fit: cover;
}
}
.football{
  object-position: 0 10px;
}
.eventstext{
  grid-area: b;
  margin-bottom: 15px;
}

.eventshead{
  text-align: center;
  margin: 15px 0px;
}
/*END OF EVENTS CSS*/
.featureshead {
  text-align: center;
  margin: 15px 0px;
}

.featuresgrid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  list-style: none;
  text-decoration: none;
  grid-template-areas:
  ". a ."
  ". b ."
}

.featuresimage{
  grid-area: a;
}

.featurestext{
  grid-area: b;
  margin: 15px 0px;
}

.featurestext a:link{
  color: black;
  text-decoration: none;
}
.featurestext a:hover{
  color: black;
}
.featurestext a:visited{
  color: black;
}

@media screen and (min-width:700px){
.featuresgrid{
  margin: 0 auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 150px 150px 150px 150px 150px 1fr;
  grid-template-areas:
  ". a a a a a ."
  ". . b b b . .";
  grid-gap: 25px;
  list-style: none;
  text-decoration: none;
  }
}

/*FEATURES END*/

/*story page CSS*/

.storytitle{
  text-align: center;
}

.caption{
font-family: "Roboto", sans-serif;
font-weight: bold;
font-style: italic;
margin:auto;
font-size: 10px;
margin-top: 5px;
margin-bottom: 0px;
text-align: center;
}

.photocredit{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align:center;
}

.byline{
  font-family: "Roboto", sans-serif;
  font-weight: 50;
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align:center;
}

.storycards {
  margin:0;
  padding:10px;
	list-style: none;
  display: grid;
  grid-template-areas:
  "a"
  "b"
  "c";
}

.storycards li{
padding: 10px;
border-radius: 5px;
}

.storycard1{
  grid-area:a;
}

.storycard2{
  grid-area:b;
  margin-top: 1em;
  border-bottom: 2px solid #000000;
}

.storycard3{
  grid-area:c;
}


/*article {
  margin-bottom: 0.7em;
}*/

/*@media screen and (min-width:480px){
  .storycards{
    display:grid;
    grid-gap:10px;
    padding:10px;
    grid-template-columns: repeat(1, 460px);
    grid-template-areas:
    "a"
    "b"
    "c";
  }*/

  .storyphoto img{
  display: block;
  width: 75%;
  height:auto;
  margin:auto;
  }
