body{
  background-color:#C99B4F;
}

header {
  background-color: black;
  padding: 2% .5%;
}

/* HEADERS */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* END HEADERS */

.container {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}

a:link {
  text-decoration: none;
}

/*.page a:link {
  color: #C99B4F;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
}

.page a:visited {
  color: gray;
}
*/
/* FOR IMAGE SLIDER REAL
.imageslider {
  display: flex;
  flex-direction: row;
} */

.quickinfo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}




/* FEATURES */

.featureshead{
  text-align: center;
}


.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featurephoto{
  flex: 1;
  border: solid 4px black;
}

.featuretext{
  flex: 2;
  padding: 0 10px;
}

.featuretext a:link, a:visited{
  color: black;
  text-decoration: none;
}

.featuretext a:hover, a:active{
  color: #21263B;
}

/* END FEATURES */
.footer{
  display: flex;
  padding: 2% 5%;
  background-color:black;
  justify-content: flex-start;
  align-items: center;
}

.footerimg{
flex: 1;
width: 25%;
}

.mapPictures{
  width: 25%;
  height: 25%;
}

.contactinfo{
  font-family: "Roboto", sans-serif;
  color: #C99B4F;
  font-size: 13px;
  font-weight: 300;
  flex: 5;
  width: 75%;
  margin-left: 18px;

}

.contactinfo a:link, a:visited{
  color: #C99B4F;


}
.contactinfo a:hover, a:active{
  color: #21263B;

}
.url a:link, a:visited{
  color: #C99B4F;
}

/* This is wehre i wstarted adding grid stuff */

.cards{
  margin: 0 20px;
  padding:0;
  list-style:none;
  justify-content: center;
  display:grid;
  grid-gap:20px;
  gap:30px;
  grid-template-areas:
  "a"
  "b"
  "c"
}

.cards img{
  width:100%
}

.cardtext{
  max-width:200px;
  text-align:center;
  justify-content:center;
}

.cards1{
  grid-area:a;
}

.cards2{
  grid-area:b;
}

.cards3{
  grid-area:c;
}
