
.mapstitle{
text-align: center;
}
body{
  background-color:#C99B4F;
}

header {
  background-color: black;
  padding: 2% 2%;
}

/* HEADERS */
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* END HEADERS */
header {
  background-color: black;
  padding: 2% 2%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "a b b b"
}
.menu-trigger{
  font-size: 50px;
  margin: 0 auto;


}
.container {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 200;
}

.logo{
  grid-area: b;
  margin-right: 10px;
  padding-top: 10px;
}
a:link {
  text-decoration: none;
}

.container a:link {
  color: #C99B4F;

}
.container a:visited{
  color: #C99B4F;
}
.page{
  grid-area: c;
  display:none;
  font-style: italic;
  padding-bottom: 10px;
  padding-left: 50px;
}


a:link {
  text-decoration: none;
}

/*.page a:link {
  color: #C99B4F;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 200;
  font-style: italic;
}

.page a:visited {
  color: gray;
}
*/
/* FOR IMAGE SLIDER REAL
.imageslider {
  display: flex;
  flex-direction: row;
} */

.quickinfo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}


/* FEATURES */

.featureshead{
  text-align: center;
}


.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featurephoto{
  flex: 1;
  border: solid 4px black;
}

.featuretext{
  flex: 2;
  padding: 0 10px;
}

.featuretext a:link, a:visited{
  color: black;
  text-decoration: none;
}

.featuretext a:hover, a:active{
  color: #21263B;
}

/* END FEATURES */
.footer{
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "a b b b"
}

.footertext{
  color: #C99B4F;
  font-family: "Roboto", sans-serif;
}
.footerimg{
  max-width: 100px;
  grid-area: a;
}
.footerinfo{
  grid-area: b;
  padding-left: 10px;
  vertical-align: center;
}
.footerinfo a:link{
  color: #C99B4F;
}
.footerinfo a:visited{
  color: #C99B4F;
}
.footerinfo a:hover{
  color: #49391D;
}
/* FOR MAPS GRID */

.cards{
  margin: 0 20px;
  padding:0;
  list-style:none;
  justify-content: center;
  display:grid;
  grid-gap:20px;
  gap:30px;
  grid-template-areas:
  "a"
  "b"
  "c"
}

.cards img{
  width:100%
}

.cardtext{
  max-width:200px;
  text-align:center;
  justify-content:center;
}

.cards1{
  grid-area:a;
}

.cards2{
  grid-area:b;
}

.cards3{
  grid-area:c;
}
